.container{
  background-color: aliceblue;
  height: 600px;
  width: 600px;
  display: table;
  margin: 60px;
  padding: 25px;
  border-radius: 25px 25px 40% 25px;
}

label{
  display: inline-block;
  margin: 10px;
  color: lightslategrey;
}

.container input{
  width: 100px;
}

.input_field{
  display: table-cell;
}